<%- include('./partials/header.ejs') %>
<div class="bg-green-200 px-6 pt-16 pb-6 rounded shadow-md overflow-hidden">
  <h1 class="text-3xl font-bold mb-10 text-center">Register Page</h1>

  <form id="registerForm">
    <div class="mb-3">
      <label class="mb-2" for="name">Name</label>
      <input class="md:min-w-[300px] outline-0 p-1 w-full text-[12px] sm:text-sm" type="text" name="name" id="name" required />
      <div class="error name text-[12px] sm:text-sm text-red-500 mb-3"></div>
    </div>
    <div class="mb-3">
      <label class="mb-2" for="username">Username</label>
      <input class="md:min-w-[300px] outline-0 p-1 w-full text-[12px] sm:text-sm" type="text" name="username" id="username" required />
      <div class="error username text-[12px] sm:text-sm text-red-500 mb-3"></div>
    </div>
    <div class="mb-3">
      <label class="mb-2" for="email">Email</label>
      <input class="md:min-w-[300px] outline-0 p-1 w-full text-[12px] sm:text-sm" type="text" name="email" id="email" required />
      <div class="error email text-[12px] sm:text-sm text-red-500 mb-3"></div>
    </div>
    <div class="mb-3">
      <label class="mb-2" for="password">Password</label>
      <input class="md:min-w-[300px] outline-0 p-1 w-full text-[12px] sm:text-sm" type="password" name="password" id="password" required />
      <div class="error password text-[12px] sm:text-sm text-red-500 mb-3"></div>
    </div>
    <input class="bg-main text-white mt-5 py-1 px-3 rounded border hover:border-main hover:bg-white hover:text-slate-800 outline-0 tranistion-all duration-300 cursor-pointer" type="submit" value="Register" />
  </form>
  <p class="text-[12px] sm:text-sm text-center text-gray-500 mt-14 pt-5 border-t border-slate-300">Already have an account? <a href="/login" class="font-bold text-slate-800">Login</a></p>
</div>



<!-- <h1>Register Page</h1>

<form id="registerForm">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required />
    <div class="error"></div>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required />
    <div class="error email"></div>
  </div>

  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required />
    <div class="error username"></div>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />
    <div class="error password"></div>
  </div>

  <div>
    <label for="email">Gender</label>
    <select name="gender" required>
      <option value="female" selected>Female</option>
      <option value="male">Male</option>
    </select>
    <div class="error"></div>
  </div>
  <input type="submit" value="Register" />
</form> -->

<%- include('./partials/footer.ejs') %>

<script>
  const registerForm = document.getElementById("registerForm");

  const emailBox = document.querySelector(".error.email");
  const nameBox = document.querySelector(".error.name");
  const passwordBox = document.querySelector(".error.password");
  const usernameBox = document.querySelector(".error.username");

  registerForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    emailBox.textContent = "";
    nameBox.textContent = "";
    passwordBox.textContent = "";
    usernameBox.textContent = "";

    try {
      const result = await fetch("/author", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          name: registerForm.name.value,
          email: registerForm.email.value,
          username: registerForm.username.value,
          password: registerForm.password.value,
        }),
      }).then((res) => res.json());
      console.log(result);

      if (result.errors) {
        console.log(result.errors)
        emailBox.textContent = result.errors.email;
        nameBox.textContent = result.errors.name;
        passwordBox.textContent = result.errors.password;
        usernameBox.textContent = result.errors.username;
      }

      if (result.id) location.assign("/login");
    } catch (err) {
      console.log(err.message);
    }
  });
</script>
