<%- include('./partials/header.ejs') %>
<% if (author) { %>
    <h1>Welcome, <span class="text-main font-bold"><%= author %></span></h1>
    <h1 class="text-center mb-10">Now, You can access the protected page: <a href="/smoothies" class="font-bold text-xl hover:underline hover:text-main py-1 px-2 tranistion-all duration-300">Smoothies</a></h1>
<% } else { %>
    <h1 class="text-center mb-10">There is only 1 page,<br> And it is protected: <a href="/smoothies" class="font-bold text-xl hover:underline hover:text-main py-1 px-2 tranistion-all duration-300">Smoothies</a></h1>
    <a href="/login" class="text-center text-red-500 font-bold hover:underline tranistion-all duration-300">
        You need to login first.
    </a>
<% } %>
<%- include('./partials/footer.ejs') %>
