<%- include('./partials/header.ejs') %>
<div class="bg-green-200 px-6 pt-16 pb-6 rounded shadow-md overflow-hidden">
  <h1 class="text-3xl font-bold mb-10 text-center">Login Page</h1>

  <form id="loginForm">
    <div class="mb-3">
      <label class="mb-2" for="username">Username</label>
      <input class="md:min-w-[300px] outline-0 p-1 w-full text-[12px] sm:text-sm" type="text" name="username" id="username" required />
      <div class="error username text-[12px] sm:text-sm text-red-500 mb-3"></div>
    </div>

    <div class="mb-3">
      <label class="mb-2" for="password">Password</label>
      <input class="md:min-w-[300px] outline-0 p-1 w-full text-[12px] sm:text-sm" type="password" name="password" id="password" required />
      <div class="error password text-[12px] sm:text-sm text-red-500 mb-3"></div>
    </div>
    <input class="bg-main text-white mt-5 py-1 px-3 rounded border hover:border-main hover:bg-white hover:text-slate-800 outline-0 tranistion-all duration-300 cursor-pointer" type="submit" value="Login" />
  </form>
  <p class="text-[12px] sm:text-sm text-center text-gray-500 mt-14 pt-5 border-t border-slate-300">Don't have an account? <a href="/register" class="font-bold text-slate-800">Sign up for free</a></p>
</div>
<%- include('./partials/footer.ejs') %>

<script>
  const loginForm = document.getElementById("loginForm");
  const passwordBox = document.querySelector(".error.password");
  const usernameBox = document.querySelector(".error.username");

  loginForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    passwordBox.textContent = "";
    usernameBox.textContent = "";

    try {
      const result = await fetch("/author/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          username: loginForm.username.value,
          password: loginForm.password.value,
        }),
      }).then((res) => res.json());
      console.log(result);

      if (result?.errors) {
        passwordBox.textContent = result.errors.password;
        usernameBox.textContent = result.errors.username;
      }

      if (result.id) location.assign("/");
    } catch (err) {
      console.log(err.message);
    }
  });
</script>
