            </div>
        </main>
        <footer class="text-sm container py-4 flex flex-col md:flex-row gap-4 justify-center md:justify-between items-center border-t border-gray-300">
            <p>Developed using Nodejs, JWT, EJS, Tailwindcss.</p>
            <p>Developed By <a href="https://github.com/lamiaagabriel" class="hover:underline hover:text-main tranistion-all duration-300" target="_blank">Lamiaa Gabriel</a></p>
        </footer>
    </body>
</html>